body {
    background-image: url("../images/dark-paths/dark-paths.png");
    font-family: 'Sonsie One', cursive;
}
.head-container {
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
    width: 800px;
}
.header1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    text-shadow: 3px 3px rgba(135,206,250,0.5);
}
.header2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1%;
    text-shadow: 3px 3px rgba(135,206,250,0.5);
}
.body-container {
    width: 900px;
    background-color: rgba(135,206,250,0.25);
    margin: 1% auto;
    padding: 1%;
    border: solid 1px white;
    font-size: 1rem;
}
.instructions {
    color: white;
    text-align: center;
}
.result-tally {
    color: white;
    text-align: center;
    margin-top: 2%;
}
.game {
    color: white;
    text-align: center;
    margin-top: 2%;
    height: 200px;
}
.alert-container {
    color: white;
    text-align: center;
    margin-top: 1%;
    height: 40px;
}
.image-container {
    text-align: center;
    margin-top: 2%;
    position: relative;
}
#winning-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px rgba(135,206,250,0.5);
  }
#image {
    width: 450px;
    height: auto;
    display: inline-block;
    border: solid 1px white;
}
.foot {
    width: 100%;
    text-align: center;
    color: white;
    margin: 2% auto;
}

@media only screen and (max-width: 980px) {
    .head-container {
        width: 728px;
    }
    .body-container {
        width: 728px;
    }
}
@media only screen and (max-width: 768px) {
    .head-container {
        width: 630px;
    }
    .body-container {
        width: 630px;
    }
}
@media only screen and (max-width: 655px) {
    .head-container {
        width: 97%;
    }
    .body-container {
        width: 95%;
    }
    #winning-word {
        font-size: 1.75rem;
      }
    #image {
        width: 75%;
    }
}